.a-container {
  margin: 4rem 6rem;
  text-align: start;
}
.a-container h1 {
  padding-bottom: 1rem;
}
.a-container p {
  padding-bottom: 2rem;
}
@media screen and (max-width: 850px) {
  .a-container {
    margin: 4rem 2rem;
  }
}
